<h1>Listing medical_histories</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @medical_histories.each do |medical_history| %>
  <tr>
    <td><%= link_to 'Show', medical_history %></td>
    <td><%= link_to 'Edit', edit_medical_history_path(medical_history) %></td>
    <td><%= link_to 'Destroy', medical_history, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Medical history', new_medical_history_path %>
